/* 都按照首字母排序, 不要乱写 */

@import url('./theme.css');

@font-face {
    font-family: 'Pixel';
    src: url('pixel.otf') format('opentype');
}

@font-face {
    font-family: 'Song';
    src: url('song.ttf') format('truetype');
}

@font-face {
    font-family: 'Round';
    src: url('round.ttf') format('truetype');
}

@media (max-width: 600px) {
    :root {
        --font-size-h1: 1.75rem;
        --font-size-h2: 1.4rem;
        --font-size-p: 0.9375rem;
        --font-size-p-smaller: 0.8125rem;
        --font-size-p-larger: 1.125rem;
        --font-size-p-larger-larger: 1.25rem;
        --font-size-li: 0.9375rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: font-size 0.4s ease, background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease;
}

a {
    color: var(--color-emphasis);
    text-decoration: none;
}

b {
    color: var(--color-emphasis);
    /* font-weight: 100; */
    margin: 0 0.2em;
}

blockquote {
    background: var(--color-blockquote);
    border: 3px solid var(--color-blockquote);
    border-radius: 2%;
    margin-bottom: 1rem;
    /* margin-left: 2rem; */
    padding: 1.5rem;
}

blockquote p,
li {
    font-size: var(--font-size-p-smaller) !important;
}

blockquote:hover {
    animation: blockquote-hover 0.2s ease-in-out;
    border: 3px solid var(--color-border);
}

@keyframes blockquote-hover {
    0% {
        border: 3px solid var(--color-blockquote);
    }

    100% {
        border: 3px solid var(--color-border);
    }
}

body {
    align-items: center;
    background: var(--color-bg);
    color: var(--color-text);
    font-family: "Round", system-ui, -apple-system, sans-serif;
    /* display: flex; */
    line-height: 1.6;
    min-height: 100vh;
    padding: 2rem;
    -webkit-user-select: none;
    user-select: none;
}

del {
    background: var(--color-blockquote);
    color: var(--color-text);
}

h1 {
    font-family: "Song", system-ui, -apple-system, sans-serif;
    font-size: var(--font-size-h1);
    font-weight: 100;
    margin-bottom: 1.2rem;
}

h2 {
    font-family: "Song", system-ui, -apple-system, sans-serif;
    font-size: var(--font-size-h2);
    font-weight: 100;
    margin-bottom: 1.2rem;
}

hr {
    border: none;
    border-top: 2px solid var(--color-border);
    height: 5px;
    margin: 1rem 0;
    overflow: visible;
    text-align: center;
    transition: background-color 0.4s ease;
}

hr::after {
    background: var(--color-bg);
    color: var(--color-border);
    content: "NORSFAINES";
    font-size: 0.8rem;
    padding: 0 4px;
    position: relative;
    top: -13px;
    transition: background-color 0.4s ease;
}

html {
    margin: 0;
    padding: 0;
}

li {
    font-size: var(--font-size-p);
}

p {
    font-size: var(--font-size-p);
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    margin-left: 1rem;
}


.hyy-quote {
    /* background: var(--color-blockquote); */
    /* border: 3px solid var(--color-blockquote); */
    border-radius: 2%;
    margin-bottom: 1rem;
    /* margin-left: 2rem; */
    padding: 1rem 2rem 1rem 2rem;
    position: relative;
    text-align: center;
}

.hyy-quote::before {
    color: var(--color-blockquote);
    content: "“";
    font-size: 5em;
    left: 0.25rem;
    position: absolute;
    top: -1.5rem;
    left: -0.4rem;
    z-index: -1;
}

.hyy-quote-content {
    color: var(--color-text);
    font-family: "Song", system-ui, -apple-system, sans-serif;
    font-size: var(--font-size-p);
}

.hyy-quote-translate {
    font-family: "Song", system-ui, -apple-system, sans-serif;
    font-size: var(--font-size-p-smaller);
    font-weight: 100;
    /* margin-bottom: 1rem; */
}

.hyy-del {
    background: var(--color-del);
    color: transparent;
    display: inline;
    padding: 0 0.4em;
}

.hyy-del:hover {
    animation: hyy-del-hover 0.2s ease-in-out;
    color: var(--color-text);
}

@keyframes hyy-del-hover {
    0% {
        color: transparent;
    }

    100% {
        color: var(--color-text);
    }
}

.hyy-drop::first-letter {
    color: var(--color-emphasis);
    float: left;
    font-size: var(--font-size-drop);
    font-weight: bold;
    margin: 0 0.2em 0 0;
}

.hyy-nav {
    background: var(--color-bg);
    color: var(--color-text);
    /* border-right: 3px solid var(--color-border); */
    font-family: "Song", system-ui, -apple-system, sans-serif;
    font-size: var(--font-size-p-smaller);
    height: 100%;
    left: 16px;
    min-width: 220px;
    overflow: hidden;
    padding: 8px 16px 0 16px;
    position: fixed;
    box-shadow: -8px 0px 20px var(--color-border);
    top: 0px;
    transform: translateX(-120%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    left: 0px;
    z-index: 1000;
}

.hyy-nav.show {
    transform: translateX(0);
}

.hyy-nav a {
    color: var(--color-text);
    border-bottom: 1px solid var(--color-border);
    display: block;
    padding: 12px 0px;
    text-decoration: none;
}

.hyy-nav a:hover {
    color: var(--color-emphasis);
    font-size: var(--font-size-p);
}

.hyy-nav-btn {
    background: transparent;
    border: 3px solid transparent;
    border-radius: 6px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    position: fixed;
    left: 16px;
    top: 16px;
    transition: all 0.4s;
    z-index: 999;
}

.hyy-nav-btn:hover {
    border-color: var(--color-emphasis);
}

.hyy-nav-close:hover {
    color: var(--color-emphasis);
}

.hyy-nav-close {
    background: none;
    border: none;
    color: var(--color-text);
    cursor: pointer;
    font-size: 20px;
    font-weight: 1000;
    line-height: 1;
    padding: 0 4px;
    transition: color 0.2s;
}

.hyy-nav-header {
    align-items: center;
    /* background: var(--color-blockquote); */
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.hyy-nav-links {
    padding: 0;
}

.hyy-nav-title {
    font-weight: 1000;
    color: var(--color-emphasis);
}

.hyy-socrate {
    font-family: "Song", system-ui, -apple-system, sans-serif;
    text-align: right;
}

.hyy-song {
    font-family: "Song", system-ui, -apple-system, sans-serif;
}

.hyy-theme-btn {
    background: var(--color-del);
    border: 0px solid transparent;
    border-radius: 100%;
    bottom: 16px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    padding: 8px;
    position: fixed;
    right: 16px;
    width: 40px;
    transition: all 0.4s;
    z-index: 999;
}

.hyy-theme-btn svg path {
    fill: var(--color-text);
}

.hyy-theme-btn:hover {
    background: var(--color-btn-hover);
}

.hyy-title {
    display: flex;
    font-family: "Song", system-ui, -apple-system, sans-serif;
    font-size: 24px;
    /* font-weight: 1000; */
    justify-content: center;
    margin: 0;
}

.hyy-title-sub {
    color: var(--color-emphasis);
    display: flex;
    font-family: "Song", system-ui, -apple-system, sans-serif;
    font-size: 0.95rem;
    /* font-weight: 1000; */
    margin-top: -0.5rem;
    justify-content: center;
}

.hyy-tooltip {
    border-bottom: 3px dotted var(--color-border);
    cursor: help;
    display: inline-block;
    font-weight: 100;
    position: relative;
    word-break: break-all;
}

.hyy-tooltip:hover {
    border-bottom: 0px dotted var(--color-border);
    color: var(--color-emphasis);
    font-size: var(--font-size-p-larger-larger);
    font-weight: 1000;
}

.hyy-tooltip-text {
    background: var(--color-shadow-bg);
    /* border: 1px solid var(--color-border); */
    border-radius: 4px;
    bottom: 100%;
    color: var(--color-text);
    font-family: "Round", system-ui, -apple-system, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    left: 50%;
    margin-bottom: 8px;
    max-width: 160px;
    opacity: 0;
    padding: 6px 10px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    transform: translateX(-50%);
    transition: opacity 0.2s ease;
    visibility: hidden;
    width: max-content;
    z-index: 10;
}

.hyy-tooltip:hover .hyy-tooltip-text {
    opacity: 1;
    visibility: visible;
}

.hyy-tooltip-text::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--color-shadow-bg);
    content: "";
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
}
/* 
#nav-container {
    position: relative;
}
 */
